body{font-size:14pt;line-height:26pt;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;background-color:#484642;width:100%;background-image:url(backgroundlogo.png);background-repeat: repeat;text-align:;margin:0px;color:#666666;direction:;}
p{padding-right: 4px;padding-left: 4px;}
a{color:#666666;text-decoration:none;font-weight:bold;font-size:14pt;}
a:visited{color:#666666;text-decoration:none;font-weight:bold;}
h1{font-family: "Lucida Sans Unicode";font-size: 18pt;color: #474747;font-weight: regular;}
h2{ffont-family: "Lucida Sans Unicode";font-size: 14pt;color: #474747;font-weight: regular;}
h3{font-family: "Lucida Sans Unicode";font-size: 12pt;color: #474747;font-weight: bold;}
li{font-family: "Lucida Sans Unicode";font-size: 11pt;font-style: normal;line-height: normal;padding: 0px;/*list-style-type: square;*/margin-bottom:10px;color: #666666;}
.itemimage{border:solid 0px #aaa;max-width:100px;width: expression(this.width > 100 ? 100: true);vertical-align:middle;}
 .iimage{border:solid 0px #aaa;max-width:320px;width: expression(this.width > 320 ? 320: true);vertical-align:middle;}
ol{list-style-type: decimal;}
ul{list-style-type: square;}


/*colormenucssaddition*/
	.colormenupageedit tr
	{
		max-height:86px;
		height: auto;
	}
	
   .colormenuimage
      {
        border:solid 0px #12181c;
        max-width:50px;
        width: expression(this.width > 100 ? 100: true);
        vertical-align:middle;
        padding:15px 0 15px 0;
        height:50px;
      }

    .colormenuitemdescription
     {
        font-size:12px;
        font-family: arial, Helvetica,sans-serif;
        color:white;
        line-height:16px;
        font-weight:100;
     }

    .colormenuitemtitle
    {
        font-size:16px;
		font-family: arial, Helvetica,sans-serif;
		font-weight: bold;
        color:white;
        line-height:16px;
		display: block;
		margin-top: -23px;
		padding-top: 23px;
		margin-bottom: -39px;
		padding-bottom: 39px;
		margin-left: -25%;
		padding-left: 25%;
		position: relative;
		z-index: 1;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
    }
    
    a.colormenuitemtitle:visited
    {
		color:white;
	}
/*gridmenucssaddition*/
 
	.gridmenuimagecontaineripad
	{       
        min-width:225px;
        width:30%;
	}
   .gridmenuimageipad
	{
        padding: 0px;
        margin:0px;
        width:30%;
        min-width:225px;
	}
     .gridmenuitemBgipad    
	{
      min-width:225px;
      width:30%;
      text-align:center;
      font-size:17px;
      font-family:STHeitiTC-Light, Tahoma;
      font-weight:100;
      padding-top:10px;
      padding-bottom:10px;
      margin-top:-42px;
      
	}

	.gridmenuimagecontainer
	{
        min-width:150px;
        width:30%; 
    } 
    .gridmenuimage
	{
		padding: 0px;
		margin:0px;
		width:30%;
		min-height:132px;
        min-width:150px;
        border:0px;
    } 

    .gridmenuitemBg
    {
      min-width:150px;
      width:30%;
      text-align:center;
      font-size:17px;
      font-family:STHeitiTC-Light, Tahoma;
      font-weight:100;
      padding-top:8px;
      margin-top:-29px;
    }    

	.gridmenuimagecontainer a{
	    -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
/*menucssaddition2*/

table.menupagetypelistcontainer a
{
		margin: -23px 0;
		padding:23px 0;
		display:block;
		text-align:left;
		font-size:17px;
		font-family:;
		font-weight:100;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
  

.menucontainer{
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.menucontainer *{vertical-align:middle;}
.menuitem{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border-bottom: solid 2px rgba(172, 171, 171, 1);
  max-height: 86px;
}
.menulink{
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.menuimgcontainer{display: inline-block;} 
 .menuimage
{
  vertical-align: middle;
height: 54px;
margin: 4px 8px 4px 0px;
display: block;
padding-left: 12px;

}
.menutextcontainer{display: inline-block; max-width:75%;}
.menutext1{
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #666;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.menuimgarrow{
  vertical-align: middle;
  padding: 10px 10px 10px 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/*slideshowmenuitemscssaddition*/

body > .WebKitPanel
{
	box-sizing: border-box;    
	-webkit-box-sizing: border-box;    
	-moz-box-sizing: border-box;    
	padding: 10px; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body > .toolbar
{
	text-align:center;
}

.WebKitPanel.slider-submenu .WebKitList
{    
	position: relative;    
	margin: 0 0 20px 0;    
	padding: 0;   
	background: #FFFFFF;    
	-webkit-border-radius: 10px;    
	-moz-border-radius: 10px;    
	text-align: left;    
	font-size: 16px;
	margin: 0; 
	padding:0; 
	list-style:none; 
	-webkit-border-radius:0; 
	border-width:0;
}
.WebKitPanel.slider-submenu .WebKitItem
{    
	position: relative;    
	min-height: 42px;  
	-webkit-border-radius: 0;    
	-moz-border-radius: 0;    
	text-align: left;
	margin:0; 
	padding:0; 
	border-width:0; 
}
.WebKitPanel > ul li:last-child
{    
	border-bottom: none !important;
}
.WebKitPanel.slider-submenu{padding: 0}
.WebKitPanel.slider-submenu *{font-family:sans-serif,Arial, Helvetica;font-weight:400}
.WebKitPanel.slider-submenu .WebKitTitle{border-bottom: 1px solid #ccc;padding:16px 0 16px 10px; background:url(listArrow.png) center right no-repeat; display:block; text-decoration:none; overflow:hidden; text-overflow:ellipsis; color:#333; font-weight:bold; font-size:16px; margin:0;border-top: none}
.WebKitPanel.slider-submenu > ul > li:first-child a,
.WebKitPanel.slider-submenu > ul > li:last-child a{-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0}
.WebKitPanel.slider-submenu .WebKitImage {vertical-align:middle; border:0; margin:-5px 6px -4px 0; height:24px;}

/*largebuttonmenucssaddition*/
span[data-layout="menuitem"] {
    display: block
}
.largeButtonMenuImgContaineriPad {
    min-width: 225px;
    width: 30%;
    min-height: 136px;
    height: 28%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center 0;
    background: #ffffff;
    margin-bottom: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.largeButtonMenuImageiPad {
    padding: 0px;
    min-width: 225px;
    width: 30%;
}
.largeButtonMenuItemBgiPad {
    min-width: 225px;
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-family: STHeitiTC-Light, Tahoma;
    font-weight: 100;
}
img.largebuttonmenucenteriPad {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.largeButtonMenuImgContainer {
    min-width: 146px;
    width: 70%;
    min-height: 120px;
    height: 28%;
    border-radius: 5px;
    background: #ffffff;
    background-repeat: no-repeat;
    margin-bottom: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.largeButtonMenuImage {
    min-width: 150px;
    width: 30%;
    padding: 0px;
}
.largeButtonMenuItemBg {
    min-width: 150px;
    width: 30%;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: STHeitiTC-Light, Tahoma;
    font-weight: 100;
    padding-top: 5px
}
img.largebuttonmenucenter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 64px;
}